body{
    background-color: #835757B0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.owen_amblessed{
    height: 43px;
    width: 198px;
    left: 36px;
    top: 129px;
    border-radius: nullpx;

}
.savings_account{
    height: 47px;
    width: 183px;
    left: 36px;
    top: 149px;
    border-radius: nullpx;

}
.inline li{
    display: block;
    padding: 10px 30px;
}
.inline li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: darkslategray;
}

.logout{
    height: 71px;
    width: 225px;
    left: 36px;
    top: 761px;
    border-radius: nullpx;

}